@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'ralewayregular', sans-serif;
  font-size: 14px; /*u mnie 0.9em === 10px*/
  margin: 0;
}

.main_width {
  max-width: 1050px;
  margin: 0 auto;
}

.font_regular {
  font-family: 'ralewayregular', sans-serif;
}

.font_bold {
  font-family: 'ralewaybold', sans-serif;
}

.font_semibold {
  font-family: 'ralewaysemibold', sans-serif;
}

.font_light {
  font-family: 'ralewaylight', sans-serif;
}

.font_colorize {
  color: #24ba9f;
}

.font_uppercase {
  text-transform: uppercase;
}

.title {
  display: inline-block;
  margin: 45px 0;
  width: 330px;
  border-bottom: 5px solid #24ba9f;
}

/*temp WE TO WYWAL POTEM PRE JA CIE*/
.temp {
  border: 1px solid red;
}

/*header*/

.header {
  background-color: #000;
  color: #fff;
}

.header section {
  position: relative;
}

.logo {
  display: inline-block;
  margin: 12px 0;
}

.menu {
  position: absolute;
  right: 0;
  top: -2px;
  padding: 0;
}

.menu_item {
  display: inline-block;
  margin-left: 50px;
}

.menu_item:first-child {
  margin-left: 0;
}

.hidden_menu {
  text-transform: none;
  display: none;
}

/*slider*/

.slider {
  background: #f8f8f8; /* Old browsers */
  background: -moz-linear-gradient(top, #f8f8f8 0%, #cbcacf 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#cbcacf 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f8f8f8 0%,#cbcacf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#cbcacf',GradientType=0 ); /* IE6-9 */
  height: 500px;
}

.slider section {
  position: relative;
}

.slider_img {
  position: absolute;
  top: 80px;
  left: 20px;
  display: block;
  box-sizing: border-box;
  background: url('../images/black_chair.png') no-repeat;
  width: 470px;
  height: 337px;
}

.slider_column {
  position: absolute;
  right: 120px;
  top: 95px;
  width: 425px;
  text-align: center;
}

.slider_column h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

.slider_column_par {
  line-height: 22px;
  margin-bottom: 30px;
}

.slider_column_btn {
  display: inline-block;
  background-color: #24ba9f;
  border-radius: 10px;
  padding: 15px 60px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.slider_prev, .slider_next  {
  font-size: 100px;
}

.slider_prev {
  position: absolute;
  margin-top: 180px;
}

.slider_next {
  position: absolute;
  right: 0;
  margin-top: 180px;
}

/*gallery*/

.gallery {
  height: 310px;
}

.gallery section {
  margin-top: 27px;
  position: relative;
}

.box_text {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 150px;
  padding: 15px 0 20px;
  font-size: 16px;
}

.box_name {
  display: inline-block;
  margin-left: 20px;
  width: 136px;
  border-bottom: 5px solid #24ba9f;
}

.box1{
  display: inline-block;
  background: url('../images/box1_img.jpg') no-repeat;
  width: 329px;
  height: 225px;
}

.box2{
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  background: url('../images/box2_img.jpg') no-repeat;
  width: 329px;
  height: 225px;
}

.box3{
  position:absolute;
  right: 0;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #d9d9d9;
  width: 329px;
  height: 250px;
}

.box3_header {
  margin-top: 30px;
}

.box3_content {
  margin: 20px 20px;
  line-height: 20px;
  font-size: 13px;
  color: #808080;
}

/*price*/

.price {
  background-color: #f1f1f1;
  height: 725px;
}

.price_panels {
  margin-top: 50px;
  position: relative;
}

.price_panels div {
  display: inline-block;
}

.panel2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.panel3 {
  position: absolute;
  right: 0;
}

.price_panel {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 330px;
  height: 500px;
  background-color: #f9f9f9;
  border: 2px solid #d9d9d9;
  vertical-align: top;
  text-align: center;
}

.big_circle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -70%);
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 2px solid #d9d9d9;
  border-radius: 50%;
}

.small_circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  background-color: #d9d9d9;
  border: 2px solid #d9d9d9;
  border-radius: 50%;
}

.price_panel h3 {
  margin-top: 30px;
}

.price_circle {
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  width: 130px;
  height: 130px;
  border: 2px solid #d9d9d9;
  border-radius: 50%;
  background-color: #fff;
  color: #c2c2c2;
}

.plan_value {
  display: inline-block;
  font-size: 40px;
  margin-top: 15px;
}

.plan_currency {
  display: inline-block;
  font-size: 15px;
  margin-top: 10px;
}

.plan_options {
  margin-top: 195px;
  list-style-type: none;
  padding-left: 0;
  font-size: 24px;
  color: #808080;
}

.plan_option:nth-child(2n+1) {
  background-color: #e4e4e4;
  padding: 7px 0;
}

.plan_option:nth-child(2n+0) {
  background-color: #f1f1f1;
  padding: 7px 0;
}

.panel_btn {
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  display: inline-block;
  background-color: #24ba9f;
  border-radius: 10px;
  padding: 5px 25px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

/*contact*/

.contact {
}

.contact section {
  position: relative;
}

.textfields {
  width: 635px;
  display: inline-block;
}

.textfield {
  width: 100%;
  box-sizing: border-box;
  font-size: 32px;
  padding: 10px;
  margin-bottom: 26px;
  border: 1px solid #24ba9f;
}

.form_img {
  display: inline-block;
  position: absolute;
  right: 50px;
  top: 110px;
  background: url('../images/red_chair.png') no-repeat;
  width: 264px;
  height: 210px;
}

.submit_col {
  display: inline-block;
  vertical-align: top;
  width: 342px;
  margin-top: 230px;
  margin-left: 50px;
}

.checkbox {
  box-sizing: border-box;
  display: inline-block;;
  width: 50px;
  height: 50px;
  border: 1px solid #24ba9f;
}

.checkbox_text {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  margin-left: 15px;
  margin-top: 2px;
  width: 273px;
}

.form_btn {
  display:block;
  margin-top: 26px;
  width: 342px;
  background-color: #24ba9f;
  border: none;
  color: #fff;
  padding: 20px 0;
  font-size: 30px;
  border-radius: 10px;
}

/*footer*/

.footer {
  height: 80px;
}

.footer section {
  margin-top: 50px;
  position: relative;
}

.copyright {
  display: inline-block;
  margin-top: 10px;
}

.social {
  position: absolute;
  right: 150px;
  top: 0;
}

.footer_logo {
  position: absolute;
  right: 0;
  top: 10px;
}
